  <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ES6 webpack seed</title>
</head>

<body>
    {{> partial/header }}
        <div id="app">
            <div class="title">
                <h1>About page!</h1>
            </div>
        </div>

    {{> partial/footer }}
</body>

</html>