<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"> 
    <title>ES6 webpack seed</title>
</head>
<body>
<div class="app">
    {{> partial/header }}
    <h2>LANG: {{ htmlWebpackPlugin.options.lang }}</h2>
    <div class="container">
         {{i18n 'content.test'}}
        <h1>WebPack is Awesome</h1>
        <ul>
            <li>SCSS support</li>
            <li>ES6 support</li>
            <li>Webpack html templating support</li>
            <li>Assets support</li>
        </ul>   
    </div>
    <div class="container">
        <h2>Assets support exampale</h2>

        <img src="assets/placeholder.gif" alt="asset" class="sample-img"/> adsads
    </div>

</div>

{{> partial/footer }}
</body>

</html>